body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFC4C1;
}

/* ===== HEADER ===== */
header {
  background-color: white;
  color: black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 60px;
}

.logo {
  height: 45px;
}

#toggleMenu {
  font-size: 24px;
  background: none;
  border: none;
  color: #F28482;
  cursor: pointer;
}

/* ===== MENÚ LATERAL ===== */
aside {
  position: fixed;
  top: 80px;
  left: 0;
  width: 220px;
  height: calc(100% - 60px);
  background-color: #F28482;
  color: white;
  transition: transform 0.3s ease;
  z-index: 999;
}

aside.oculto {
  transform: translateX(-100%);
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside li {
  padding: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

aside a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* ===== MAIN ===== */
main {
  margin-top: 60px;
  transition: margin-left 0.3s ease, transform 0.3s ease;
}

main.reducido {
  margin-left: 220px;
}

/* ===== BANNER ===== */
.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color:  #FFC4C1;
}

.imagen-banner {
  width: 100%;
  height: auto; /* mantiene proporciones originales */
  display: block;
}

.texto-banner {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color:black;
}

.texto-banner h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.texto-banner p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

/* ===== BOTÓN ===== */
.boton {
  background-color: #99D8C9;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

.boton:hover {
  background-color: #F28482;
}

/* ===== EFECTO CUANDO SE ABRE EL MENÚ ===== */
main.reducido .banner {
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

/* ===== SERVICIOS ===== */
.servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 40px 20px;
  background-color: #FFF8F6;
}

.servicio {
  text-align: center;
}

.servicio img {
  width: 80px;
  height: 80px;
}

.servicio h3 {
  margin-top: 10px;
  color: #F28482;
}

/* ===== HISTORIA ===== */
.historia {
  background-color: #FFC4C1;
  padding: 50px 20px;
  text-align: center;
}

.historia h2 {
  color: black;
  font-size: 2rem;
  margin-bottom: 20px;
}

.historia p {
  color: black;
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.usuario-info{
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.usuario-info .logout{
    padding: 6px 10px;
    background: #F28482;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.usuario-info .logout:hover{
    background: #d96a6a;
}
